body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(17, 14, 14);
}

.container{
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;
}

#post{
    text-align: center;
    background-color: darkkhaki;
}

#cabecera{
    width: 100%;
    background-color: cornflowerblue;
    height: 5rem;
    font-size: x-large;
}