body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 65, 192);
}

.container{
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;
}

#post{
    text-align: center;
    background-color: darkkhaki;
}

#cabecera{
    width: 100%;
    background-color: cornflowerblue;
    height: 5rem;
    font-size: x-large;
    color: white;
}